<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>justjs: <%= blocks.title %></title>
  <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="/bower_components/font-awesome/web-fonts-with-css/css/fontawesome.min.css" rel="stylesheet" />
</head>

	<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	      <div class="container">
          <% if(typeof user != 'undefined' && user) { %>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>    
          <% } else { %>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
            <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>    
          <% } %>
	      </div>
	    </div>
  	</div>
  	
  	<section class="container">
    	<%-body -%>
  	</section>


<footer>
    <%-blocks.footer%>
</footer>


<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
</html>